@use "sass:list";
@use "sass:map";
@use "theme" as *;


@mixin wrapperWide {
  @include container-inline("wrapper-wide");
}

@mixin wrapperMedium {
  @include container-inline("wrapper-medium");
}

@mixin wrapperNarrow {
  @include container-inline("wrapper-narrow");
}

@mixin container-inline($token) {
  $max: map.get($containerWidths, $token);

  @if $max == null {
    @error 'container token "#{$token}" is not defined in $containerWidths.';
  }

  width: calc(100% - var(--inline-padding) * 2);
  max-width: $max;
  box-sizing: border-box;
  margin: 0 auto;
}

@mixin fullWidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  box-sizing: border-box;

  *:last-child {
    margin-bottom: 0;
  }
}


@mixin btn {
  display: inline-block;
  text-align: center;
  font-weight: 500;
  background-color: var(--color-brand-accent, #{$brandAccent});
  color: var(--color-ink-on-dark, #{$surfaceBody});
  font-family: inherit;
  font-size: var(--step-1);
  text-decoration: none;
  padding: 0.6em 2em;
  line-height: 1;
  border: none;
  transition: all 250ms;
}

@mixin btn-hover {
  background-color: color-mix(
    in srgb,
    var(--color-brand-accent, #{$brandAccent}) 90%,
    var(--color-ink-on-dark, #{$surfaceBody}) 15%
  );
}
