@use "theme" as *;

// 32px
$contact-heading-size: 2rem;
@layer blocks {
.contact-text {
  main & {
    h2 {
      margin: 0;
      font-size: $contact-heading-size;
      &:not(:first-child) {
        margin-top: var(--space-lg); 
      } 
    }
  }
}

}
