@use "theme" as *;
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(8.75rem, 1fr));
  gap: 1.5rem;
  margin-block: clamp(2rem, 3.30188679245283vw, 3.5rem); /* 48/1696 */

  a {
    border-radius: var(--radius-xs);
    outline: 0.0625rem solid #{$brandPrimary}00;
    outline-offset: -0.25rem;
    box-shadow: $boxShadowSubtle;

    &:hover {
      outline: 0.0625rem solid #{$brandPrimary}ff;
      outline-offset: 0.125rem;
      box-shadow: $boxShadow;
    }
  }

  img {
    display: block;
    border-radius: var(--radius-sm);
    width: 100%;
  }
}
