@use "theme" as *;
/* 5px */
{prefix}-f-on-t-s-iz-e: 0.3125rem;
/* 12px */
{prefix}-f-o-n-t-s-i-z-e-1: 0.75rem;
/* 15px */
{prefix}-f-o-n-t-s-i-z-e-2: 0.9375rem;
/* 16px */
{prefix}-f-o-n-t-s-i-z-e-6: 1rem;
/* 18px */
{prefix}-f-o-n-t-s-i-z-e-3: 1.125rem;
/* 24px */
{prefix}-f-o-n-t-s-i-z-e-4: 1.5rem;
/* 56px */
{prefix}-f-o-n-t-s-i-z-e-5: 3.5rem;






















.pagination-top-text {
	font-size: {prefix}-f-o-n-t-s-i-z-e-6;
	margin: 0 {prefix}-f-on-t-s-iz-e;
	font-style: italic;
	color: #555;
}

.pagination {
	display: flex;
	flex-wrap: wrap;
	gap: {prefix}-f-on-t-s-iz-e-2;
	font-size: {prefix}-f-o-n-t-s-i-z-e-3;
	justify-content: center;
	align-items: center;
	margin: {prefix}-f-o-n-t-s-i-z-e-5 0 {prefix}-f-o-n-t-s-i-z-e-4;

	span {
		height: 1.75em;
		line-height: 1.75em;
	}

	.number {
		text-align: center;
		width: 1.75em;
		padding: 0;

		&.current {
			color: #fff;
			background: $highlight;
			border-radius: 100vw;
		}

		a:link,
		a:visited {
			padding: 0;
			width: 1.75em;
			height: 1.75em;
		}
	}

	a:link,
	a:visited {
		background: #eee;
		text-decoration: none;
		color: #222;
		display: inline-block;
		text-align: center;
		width: 100%;
		height: 100%;
		padding: 0 {prefix}-f-on-t-s-iz-e-3;
		border-radius: 100vw;
	}

	a:hover,
	a:focus {
		color: #fff;
		background: #222;
	}

	a:empty {
		display: none;
	}
}









