@use "theme" as *;
@use "base-utils" as *;
/* 1px */
{prefix}-b-or-de-r-r-ad-iu-s: 0.0625rem;
/* 3px */
{prefix}-b-o-r-d-e-r-r-a-d-i-u-s-6: 0.1875rem;
/* 15px */
{prefix}-b-o-r-d-e-r-r-a-d-i-u-s-1: 0.9375rem;
/* 24px */
{prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2: 1.5rem;
/* 26px */
{prefix}-b-o-r-d-e-r-r-a-d-i-u-s-3: 1.625rem;
/* 30px */
{prefix}-b-o-r-d-e-r-r-a-d-i-u-s-4: 1.875rem;
/* 45px */
{prefix}-b-o-r-d-e-r-r-a-d-i-u-s-5: 2.8125rem;






















.feature-boxes {
	display: flex;
	justify-content: space-evenly;

	a {
		width: calc(33.333333% - 4.6875vw);
		border-radius: {prefix}-b-or-de-r-r-ad-iu-s-2;
		overflow: hidden;
		text-decoration: none;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		border: {prefix}-b-or-de-r-r-ad-iu-s solid #ddd;

		&:hover {
			box-shadow: $boxShadow;

			.feature-cta {
				@include btn-hover;
			}
		}
	}

	img {
		display: block;
		width: 100%;
	}

	.feature-text {
		padding: {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2 {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2 0;
		color: #222;

		&.no-img {
			margin: auto 0;
		}

		h2 {
			font-size: {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-4;
			margin: 0;
			color: darken($highlight, 30%);
		}

		h3 {
			font-size: {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-3;
			margin: 0;
			font-weight: normal;
			color: $highlight;
		}

		p {
			font-size: {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2;
			margin: {prefix}-b-or-de-r-r-ad-iu-s-3 0;
		}
	}

	.feature-cta {
		@include btn;
		max-width: max-content;
		margin: {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2;
	}
}

@supports (-ms-ime-align: auto) {
	.feature-boxes {
		justify-content: space-around;
	}
}

@media screen and (max-width: 1240px) {
	.feature-boxes {
		display: block;

		a {
			width: auto;
			margin: 0 {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-5 {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-5;
			position: relative;
		}

		picture {
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			width: 50%;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		.feature-text {
			margin-left: 50%;

			&.no-img {
				text-align: center;
				margin-top: 0;
				margin-left: 0;
				margin-right: 0;
			}
		}

		.feature-cta {
			margin-left: calc(50% + {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2);

			&.no-img {
				margin-top: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}

		a:nth-child(even) {
			picture {
				right: 0;
				left: initial;
			}

			.feature-text {
				margin-left: initial;
				margin-right: 50%;

				&.no-img {
					text-align: center;
					margin-left: 0;
					margin-right: 0;
				}
			}

			.feature-cta {
				margin-top: 0;
				margin-left: {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2;
				margin-right: calc(50% + {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-2);

				&.no-img {
					margin-left: auto;
					margin-right: auto;
				}
			}
		}
	}
}

@media screen and (max-width: 720px) {
	.feature-boxes {
		picture {
			position: static;
			width: 100%;

			img {
				width: 100%;
				height: auto;
			}
		}

		.feature-text {
			margin-left: 0;
			margin-right: 0;
			text-align: center;
		}

		.feature-cta {
			margin-top: 0;
			margin-left: auto;
			margin-right: auto;
		}

		a {
			margin: 0 {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-4 {prefix}-b-o-r-d-e-r-r-a-d-i-u-s-4;
		}

		a:nth-child(even) {
			.feature-text {
				margin-left: 0;
				margin-right: 0;
				text-align: center;
			}

			.feature-cta {
				margin-top: 0;
				margin-left: auto;
				margin-right: auto;
			}
		}

		a:last-child {
			margin-bottom: 0;
		}
	}
}









