@use "theme" as *;
/* 4px */
{prefix}-p-ad-di-ng: 0.25rem;
/* 8px */
{prefix}-p-a-d-d-i-n-g-1: 0.5rem;
/* 12px */
{prefix}-p-a-d-d-i-n-g-2: 0.75rem;
/* 21px */
{prefix}-p-a-d-d-i-n-g-3: 1.3125rem;
/* 24px */
{prefix}-p-a-d-d-i-n-g-7: 1.5rem;
/* 32px */
{prefix}-p-a-d-d-i-n-g-8: 2rem;
/* 40px */
{prefix}-p-a-d-d-i-n-g-6: 2.5rem;
/* 56px */
{prefix}-p-a-d-d-i-n-g-4: 3.5rem;
/* 96px */
{prefix}-p-a-d-d-i-n-g-5: 6rem;




























blockquote {
	background: #{$highlight}11;
	font-style: italic;
	padding: {prefix}-p-a-d-d-i-n-g-6 {prefix}-p-a-d-d-i-n-g-7 {prefix}-p-ad-di-ng-6;
	border-radius: {prefix}-p-ad-di-ng-2;
	position: relative;
	margin-block: {prefix}-p-a-d-d-i-n-g-4;

	p:last-of-type {
		margin-bottom: 0;
	}

	cite {
		display: block;
		font-size: {prefix}-p-a-d-d-i-n-g-3;
		font-style: normal;
		color: $highlight;
		padding-top: {prefix}-p-ad-di-ng-3;
	}

	&:before {
		content: open-quote;
		font-family: "Georgia", "Times New Roman", serif;
		font-style: normal;
		font-size: {prefix}-p-a-d-d-i-n-g-5;
		line-height: 1;
		color: #fff;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -25%);
		pointer-events: none;
		z-index: 1;
	}

	&:after {
		content: close-quote;
		width: {prefix}-p-a-d-d-i-n-g-4;
		aspect-ratio: 1;
		background: $highlight;
		border-radius: 100vw;
		position: absolute;
		top: 0;
		left: 50%;
		transform: translate(-50%, -50%);
		color: transparent;
		outline: {prefix}-p-ad-di-ng solid #fff;
	}
}









