@use "theme" as *;
/* 1px */
{prefix}-m-ar-gi-n-b-ot-to-m: 0.0625rem;
/* 4px */
{prefix}-m-a-r-g-i-n-b-o-t-t-o-m-1: 0.25rem;
/* 8px */
{prefix}-m-a-r-g-i-n-b-o-t-t-o-m-2: 0.5rem;
/* 12px */
{prefix}-m-a-r-g-i-n-b-o-t-t-o-m-3: 0.75rem;
/* 21px */
{prefix}-m-a-r-g-i-n-b-o-t-t-o-m-4: 1.3125rem;
/* 48px */
{prefix}-m-a-r-g-i-n-b-o-t-t-o-m-5: 3rem;



















table {
	border-collapse: collapse;
	width: 100%;
	box-shadow: $boxShadowSubtle;
	margin-bottom: {prefix}-m-a-r-g-i-n-b-o-t-t-o-m-5;

	& > tr {
		th:first-child,
		td:first-child {
			border-top-left-radius: {prefix}-m-ar-gi-n-b-ot-to-m-2;
		}

		th:last-child,
		td:last-child {
			border-top-right-radius: {prefix}-m-ar-gi-n-b-ot-to-m-2;
		}
	}

	thead {
		th:first-child,
		td:first-child {
			border-top-left-radius: {prefix}-m-ar-gi-n-b-ot-to-m-2;
		}

		th:last-child,
		td:last-child {
			border-top-right-radius: {prefix}-m-ar-gi-n-b-ot-to-m-2;
		}
	}

	tfoot {
		td:first-child {
			border-bottom-left-radius: {prefix}-m-ar-gi-n-b-ot-to-m-2;
		}

		td:last-child {
			border-bottom-right-radius: {prefix}-m-ar-gi-n-b-ot-to-m-2;
		}
	}
}

th {
	background: $highlight;
	color: #fff;
	padding: {prefix}-m-ar-gi-n-b-ot-to-m-3 {prefix}-m-a-r-g-i-n-b-o-t-t-o-m-3;
	font-size: {prefix}-m-a-r-g-i-n-b-o-t-t-o-m-4;
	text-align: left;
}

tfoot {
	th,
	td {
		background: #333;
		color: #fff;
	}
}

tr {
	transition: all 250ms ease-out;

	&:nth-child(odd) {
		background: #fff;
	}

	&:nth-child(even) {
		background: #f5f5f5;
	}

	&:hover,
	&:focus {
		background: lighten($highlight, 10%);
		color: #fff;
	}
}

td {
	border-bottom: {prefix}-m-ar-gi-n-b-ot-to-m solid #ccc;
	padding: {prefix}-m-ar-gi-n-b-ot-to-m-3 {prefix}-m-a-r-g-i-n-b-o-t-t-o-m-3;
	font-size: {prefix}-m-a-r-g-i-n-b-o-t-t-o-m-4;
}

tr:last-child {
	td {
		border-bottom: none;
	}
}









