@use "theme" as *;
.breadcrumbs {
  font-size: var(--step-0);
  margin: 0 0 calc(4.5 * 0.625rem);

  .brdcrmb-dvdr {
    display: inline-block;
    margin: 0 0.125rem;
    width: calc(1.1 * 0.625rem);
    height: calc(1.1 * 0.625rem);
    mask: url(/img/icons/dbl-arrow.svg);
    mask-size: cover;
    background: var(--color-ink-subtle);
  }

  .current {
    font-weight: bold;
    color: var(--color-brand-primary);
  }
}
