@use "theme" as *;
/* 1px */
{prefix}-m-ar-gi-n: 0.0625rem;
/* 2px */
{prefix}-m-a-r-g-i-n-1: 0.125rem;
/* 4px */
{prefix}-m-a-r-g-i-n-2: 0.25rem;
/* 16px */
{prefix}-m-a-r-g-i-n-7: 1rem;
/* 24px */
{prefix}-m-a-r-g-i-n-3: 1.5rem;
/* 32px */
{prefix}-m-a-r-g-i-n-8: 2rem;
/* 40px */
{prefix}-m-a-r-g-i-n-4: 2.5rem;
/* 56px */
{prefix}-m-a-r-g-i-n-5: 3.5rem;
/* 140px */
{prefix}-m-a-r-g-i-n-6: 8.75rem;




























img[style*="float: right"],
img[align="right"] {
	display: block;
	float: right;
	margin: 0 0 clamp({prefix}-m-a-r-g-i-n-7, 1.8867924528301887vw, {prefix}-m-ar-gi-n-6)
		clamp({prefix}-m-a-r-g-i-n-7, 1.8867924528301887vw, {prefix}-m-ar-gi-n-6);
	max-width: 45%;
}

img[style*="float: left"],
img[align="left"] {
	display: block;
	float: left;
	margin: 0 clamp({prefix}-m-a-r-g-i-n-7, 1.8867924528301887vw, {prefix}-m-ar-gi-n-6)
		clamp({prefix}-m-a-r-g-i-n-7, 1.8867924528301887vw, {prefix}-m-ar-gi-n-6) 0;
	max-width: 45%;
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax({prefix}-m-a-r-g-i-n-6, 1fr));
	gap: {prefix}-m-a-r-g-i-n-3;
	margin-block: clamp({prefix}-m-ar-gi-n-6, 3.30188679245283vw, {prefix}-m-a-r-g-i-n-5);

	a {
		border-radius: {prefix}-m-ar-gi-n-2;
		outline: {prefix}-m-ar-gi-n solid #{$highlight}00;
		outline-offset: -0.{prefix}-m-a-r-g-i-n-4;
		box-shadow: $boxShadowSubtle;

		&:hover {
			outline: {prefix}-m-ar-gi-n solid #{$highlight}ff;
			outline-offset: {prefix}-m-ar-gi-n-2;
			box-shadow: $boxShadow;
		}
	}

	img {
		display: block;
		border-radius: {prefix}-m-ar-gi-n-3;
		width: 100%;
	}
}

@media screen and (min-width: 1024px) {
	a[href^="tel:"] {
		text-decoration: none;
		cursor: default;
	}
}









