
/* Varibles to keep the font name space in sync */
/* Scss Document */
@layer base {
@font-face {
  font-family: "Barlow";
  src: url("../fonts/barlow-vf.woff2") format("woff2-variations");
  font-weight: 22 188;
  font-stretch: 300% 500%;
  font-style: normal;
  font-display: swap; }
}

