
/* Varibles to keep the font name space in sync */
/* Scss Document */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-vf.woff2") format("woff2-variations");
  font-stretch: 75% 100%;
  font-weight: 300 800;
  font-style: normal;
  font-display: swap; }
