
/* Varibles to keep the font name space in sync */
/* Scss Document */
@font-face {
  font-family: "Open Sans";
  src: url("/fonts/open-sans-vf.woff2") format("woff2-variations");
  font-stretch: 75% 100%;
  font-weight: 300 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-italic-latin.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-extralightitalic-latin.woff2") format("woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-bold-latin.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-light-latin.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-bolditalic-latin.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-extralight-latin.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-semibold-latin.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-semibolditalic-latin.woff2") format("woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-extrabold-latin.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-extrabolditalic-latin.woff2") format("woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-regular-latin.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-medium-latin.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-mediumitalic-latin.woff2") format("woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap; }

@font-face {
  font-family: "Spectral";
  src: url("/fonts/spectral-lightitalic-latin.woff2") format("woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap; }
