@use "theme" as *;
@use "base-utils" as *;
/* 1px */
{prefix}-g-ap: 0.0625rem;
/* 2px */
{prefix}-g-a-p-1: 0.125rem;
/* 2.5px */
{prefix}-g-a-p-15: 0.1562rem;
/* 4px */
{prefix}-g-a-p-14: 0.25rem;
/* 5px */
{prefix}-g-a-p-13: 0.3125rem;
/* 10px */
{prefix}-g-a-p-12: 0.625rem;
/* 12px */
{prefix}-g-a-p-11: 0.75rem;
/* 14px */
{prefix}-g-a-p-10: 0.875rem;
/* 15px */
{prefix}-g-a-p-16: 0.9375rem;
/* 16px */
{prefix}-g-a-p-9: 1rem;
/* 18px */
{prefix}-g-a-p-7: 1.125rem;
/* 20px */
{prefix}-g-a-p-6: 1.25rem;
/* 21px */
{prefix}-g-a-p-5: 1.3125rem;
/* 24px */
{prefix}-g-a-p-17: 1.5rem;
/* 30px */
{prefix}-g-a-p-4: 1.875rem;
/* 45px */
{prefix}-g-a-p-3: 2.8125rem;
/* 320px */
{prefix}-g-a-p-2: 20rem;
/* 48px */
{prefix}-g-a-p-8: 3rem;
/* 64px */
{prefix}-g-a-p-18: 4rem;


























































/* -- NAV (GENERAL) START -- */
nav {
	ul {
		list-style-type: none;
		margin: 0;
		display: flex;
		gap: clamp({prefix}-g-ap-14, 3.7735849056603774vw, {prefix}-g-a-p-18);
	}

	a:link,
	a:visited {
		font-family: $secondaryFont;
		color: $primaryTextColor;
		display: flex;
		justify-content: center;
		align-items: center;
		text-decoration: none;
		font-size: {prefix}-g-a-p-5;
		padding: {prefix}-g-ap-10 0;
		letter-spacing: 0.025em;
	}

	a:hover,
	a:focus {
		color: $highlight;
	}
}
/* -- NAV (GENERAL) END -- */

#hdr-notice {
	background: #111;
	color: #fff;
	text-shadow: $textShadow;
	position: relative;
	padding: {prefix}-g-a-p-16 {prefix}-g-a-p-3;

	.hdr-notice-content {
		@include wrapperNarrow;
		font-size: {prefix}-g-a-p-5;
		position: relative;
		text-align: center;
	}

	#close-notice {
		display: inline-block;
		vertical-align: middle;
		width: {prefix}-g-ap-14;
		height: {prefix}-g-ap-14;
		padding: 0;
		mask: url(/img/icons/circle-close.svg);
		mask-size: cover;
		background: #fff;
		border: none;
		appearance: none;
		cursor: pointer;
		margin: -0.{prefix}-g-ap-15 {prefix}-g-a-p-1 0 0;
		transition: all 250ms ease-out;

		&:hover,
		&:focus {
			background: $highlight;
		}
	}

	.notice-btn:link,
	.notice-btn:visited {
		color: #fff;
		font-weight: bold;
		text-decoration: underline;
		white-space: nowrap;
	}

	.notice-btn:hover,
	.notice-btn:focus {
		text-decoration: none;
	}
}

/* -- MAIN NAV START -- */
header {
	nav {
		display: inline-block;
		vertical-align: middle;
		position: relative;
		z-index: 100;

		a:link,
		a:visited {
			position: relative;
			text-align: center;
			height: 100%;
		}

		a:hover,
		a:focus,
		.current > a {
			color: $highlight;
		}

		ul {
			li {
				position: relative;
				margin: 0;

				&:hover,
				&:focus,
				&:focus-within {
					ul {
						opacity: 1;
						pointer-events: initial;
					}
				}
			}

			ul {
				display: block;
				opacity: 0;
				pointer-events: none;
				box-shadow: $boxShadowSubtle;
				position: absolute;
				width: max-content;
				max-width: {prefix}-g-a-p-2;
				border-radius: {prefix}-g-a-p-14;
				left: -1.{prefix}-g-a-p-6;
				transition: opacity 250ms ease-in-out;

				&:before {
					content: "";
					width: 0;
					height: 0;
					display: block;
					border-style: solid;
					border-width: 0 {prefix}-g-a-p-11 {prefix}-g-a-p-11 {prefix}-g-a-p-11;
					border-color: transparent transparent #fff transparent;
					top: -1.{prefix}-g-a-p-6;
					left: {prefix}-g-ap-14;
					position: absolute;
					z-index: 1;
					filter: drop-shadow(0 -0.{prefix}-g-a-p-6 {prefix}-g-a-p-15 rgba(0, 0, 0, 0.1));
				}

				a:link,
				a:visited {
					font-family: $primaryFont;
					background: rgba(255, 255, 255, 0.9);
					font-size: {prefix}-g-a-p-7;
					display: block;
					text-align: left;
					padding: {prefix}-g-a-p-12 {prefix}-g-a-p-11 {prefix}-g-a-p-11;
				}

				li {
					display: block;

					&:first-child a:link,
					&:first-child a:visited {
						border-radius: {prefix}-g-a-p-14 {prefix}-g-a-p-14 0 0;
					}

					&:last-child a:link,
					&:last-child a:visited {
						border-radius: 0 0 {prefix}-g-a-p-14 {prefix}-g-a-p-14;
					}
				}
			}
		}

		.current .current a,
		ul ul a:hover {
			background: #f7f7f7;
			color: $highlight;
		}
	}
}
/* -- MAIN NAV END -- */

header {
	&.primary-hdr {
		background: #fff;
		padding-block: {prefix}-g-ap-14;
		position: sticky;
		top: 0;
		transition: padding-block 500ms ease-in-out;
		z-index: 100;

		&::after {
			content: "";
			position: absolute;
			inset: 0;
			background: #fff;
			box-shadow: $boxShadow;
			z-index: -1;
			opacity: 0;
			transition: opacity 500ms ease-in-out;
		}

		&.sticking {
			padding-block: {prefix}-g-a-p-11;

			&::after {
				opacity: 1;
			}
		}
	}
}

.hdr-container {
	@include wrapperWide;
	display: flex;
	align-items: center;
	gap: {prefix}-g-ap-14;
}

.logo {
	margin: 0 auto 0 0;

	img {
		width: var(--logo-width);
	}
}

.banner {
	position: relative;

	img {
		display: block;
		width: 100%;
	}
}

footer {
	padding: {prefix}-g-a-p-3 0 0;

	nav {
		margin: 0 auto 0 0;
	}
}

.ftr-container {
	@include wrapperWide;
}

.ftr-top {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	padding: 0 0 {prefix}-g-ap-15 0;
}

.social-media {
	display: flex;
	justify-content: center;
	gap: {prefix}-g-ap-14;
}

.social-icon {
	display: inline-block;
	width: {prefix}-g-ap-14;
	height: {prefix}-g-ap-14;
	text-indent: -99999rem;

	&.facebook {
		mask: url(/img/icons/social-media/facebook.svg);
		mask-size: cover;
		background: #333;
		color: #fff;

		&:hover {
			background: #3b5999;
		}
	}

	&.twitter {
		mask: url(/img/icons/social-media/twitter.svg);
		mask-size: cover;
		background: #333;
		color: #fff;

		&:hover {
			background: #5fa9dd;
		}
	}

	&.instagram {
		mask: url(/img/icons/social-media/instagram.svg);
		mask-size: cover;
		background: radial-gradient(
			circle at 30% 107%,
			#fdf497 0%,
			#fdf497 5%,
			#fd5949 45%,
			#d6249f 60%,
			#285aeb 90%
		);
		position: relative;

		&:before {
			content: "";
			mask: url(/img/icons/social-media/instagram.svg);
			mask-size: cover;
			background: #333;
			color: #fff;
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: all 500ms ease-out;
		}

		&:hover {
			&:before {
				opacity: 0;
			}
		}
	}

	&.youtube {
		mask: url(/img/icons/social-media/youtube.svg);
		mask-size: cover;
		background: #333;
		color: #fff;

		&:hover {
			background: #ff0000;
		}
	}

	&.linkedin {
		mask: url(/img/icons/social-media/linkedin.svg);
		mask-size: cover;
		background: #333;
		color: #fff;

		&:hover {
			background: #0a66c2;
		}
	}
}

.ftr-contact {
	border-top: {prefix}-g-ap solid #ddd;
	text-align: center;
	font-size: {prefix}-g-ap-10;
	padding: {prefix}-g-a-p-8 0;

	.divider {
		display: inline-block;
		vertical-align: middle;
		margin: 0 {prefix}-g-ap-5;
		width: {prefix}-g-ap;
		background: $highlight;
		height: 0.8em;
	}
}

.copyright {
	color: #757575;
	text-align: center;
	font-size: {prefix}-g-a-p-10;
	text-wrap: balance;
	padding: 0 0 {prefix}-g-ap-15 0;

	a:link,
	a:visited {
		color: #757575;
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
	}
}









