@use "theme" as *;
@use "base-utils" as *;
/* 48px */
{prefix}-p-ad-di-ng: 3rem;
/* 96px */
{prefix}-p-ad-di-ng-2: 6rem;







.wrapper-wide {prefix}-p-a-d-d-i-n-g-1
	@include wrapperWide;
}

.wrapper-medium {prefix}-p-a-d-d-i-n-g-1
	@include wrapperMedium;
}

.wrapper-narrow {prefix}-p-a-d-d-i-n-g-1
	@include wrapperNarrow;
}

.full-width {prefix}-p-a-d-d-i-n-g-1
	@include fullWidth;
}

#content {prefix}-p-a-d-d-i-n-g-1
	padding: clamp({prefix}-p-a-d-d-i-n-g-1prefix}-v-al-ue, 5.660377358490567vw, {prefix}-p-a-d-d-i-n-g-1prefix}-p-ad-di-ng-2) 0;
}

.home-content {prefix}-p-a-d-d-i-n-g-1
	@include wrapperNarrow;
}

.primary-content {prefix}-p-a-d-d-i-n-g-1
	@include wrapperNarrow;

	&.medium {prefix}-p-a-d-d-i-n-g-1
		@include wrapperMedium;
	}
}

.layout-rail {prefix}-p-a-d-d-i-n-g-1
	max-width: min(1200px, calc(100% - 2 * var(--page-hero-inline)));
	margin: 0 auto;
	padding-inline: var(--page-hero-inline);
}









