@use "theme" as *;
@use "base-utils" as *;
.body-content {
  padding-bottom: clamp(2rem, 3.30189vw, 3.5rem);

}

.home-content {
  main.home {
    padding-block-start: clamp(2rem, 5vw, 4rem);
  }
}

.home-content {
  @include wrapperNarrow;
}

.home__title {
  margin: 0 0 clamp(1rem, 3vw, 2.5rem);
  color: var(--color-brand-primary);
}
