@layer blocks {
  .people {
    float: left;
    margin: 15px 0;
    border: 1px dashed var(--color-surface-base);
    padding: 8px;
  }

  .people img {
    float: left;
    margin: 20px 10px 5px 0;
  }
}

