@layer blocks {
  .testimonial {
    font-size: 1.25em;
    font-style: italic;
    padding: 1em;
    margin: 0 0 1em;
    border-bottom: 1px solid var(--color-border-muted);
    position: relative;
  }

  .testimonial:before {
    content: "\201c";
    color: var(--color-border-muted);
    font-size: 10em;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-style: italic;
    position: absolute;
    z-index: -1;
    top: -0.125em;
    left: -0.125em;
  }

  .testimonial:last-child {
    border-bottom: none;
  }

  .testimonial-citation {
    text-align: right;
    font-style: normal;
    line-height: 1.25em;
    font-size: 0.8em;
  }

  .testimonial-citation span {
    display: block;
  }

  .testimonial-name {
    font-weight: bold;
  }
}
