@use "sys-queries" as *;

@layer exceptions {
  .home .l-single {
    padding-top: var(--space-2xl);
  }

  @include vp-min($vp-lg) {
    a[href^="tel:"] {
      text-decoration: none;
      cursor: default;
    }
  }
}

