$cq-c2: 480px;
$cq-c3: 720px;

$vp-md: 48rem;
$vp-lg: 64rem;

@mixin cq-min($min) {
  @container (min-width: #{$min}) { @content; }
}

@mixin cq-name-min($name, $min) {
  @container #{$name} (min-width: #{$min}) { @content; }
}

@mixin vp-min($min) {
  @media (min-width: #{$min}) { @content; }
}

