.youtube-player {
    position: relative;
    padding-bottom: 56.07142857142857%; /* 314/560 */
    height: 0;
    overflow: hidden;
    max-width: 100%;
    background: var(--color-ink-absolute);
}

.youtube-player iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
}

.youtube-player img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
}

.youtube-player img:hover {
    -webkit-filter: brightness(75%);
}

.youtube-player .play {
    height: 5em;
    width: 7em;
    max-width: 50vw;
    max-height: 50vw;
    left: 50%;
    top: 50%;
    margin-left: -2.25em; /* 36/16 */
    margin-top: -2.25em; /* 36/16 */
    position: absolute;
    background: url("/img/icons/youtube-play.svg") no-repeat;
    background-size: cover;
    cursor: pointer;
}

