/* ------ START: Global Reset ------ */
* {
  padding: 0;
  margin: 0;
}

a {
  outline: none;
}

a img {
	border: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
form,
label,
ul,
ol,
dl,
fieldset,
address {
  margin: 0;
}

img,
object,
embed,
video,
iframe {
  border: 0;
  height: auto;
  max-width: 100%;
  width: auto;
}

table,
pre,
dd,
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol {
  margin-bottom: 1em;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -.5em;
}

sub {
  bottom: -.25em;
}

/* HTML5 tags */ 
header,
section,
footer,
aside,
nav,
article,
figure {
  display: block;
}

html {
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: none;
}
/* ------ END: Global Reset ------ */

/* -- SKIP LINKS START -- */
a.skiplink {
  position: absolute;
  top: auto;
  left: -99999px;
  height: 1px;
  width: 1px;
  overflow: hidden;
}
/* -- SKIP LINKS END -- */

body {
  border-top: 5px solid #3098ba;
  font-family: 'Lato', Tahoma, Arial, sans-serif;
}

::selection {
	background: #555;
  color: #fff; 
}
  
::-moz-selection {
	background: #555;
  color: #fff;
}

a,
a:link {
  color: #3098ba;
}

a:visited {
  color: #1a546d;
}

a:hover {
  color: #21b0d7;
}

.clear {
  clear: both; 
}

h3,
h4,
h5,
h6 {
  color: #3098ba;
}

h1 {
  color: #063042;
  text-align: center;
  font-weight: 900;
  letter-spacing: .1em; /* 100/1000 */ 
  text-transform: uppercase;
}

h2 {
  text-align: center;
  color: #1a546d;
  font-weight: 300;   
}

h3 {
  font-size: 1.125em; /* 18/16 */
  font-weight: 300; 
  text-transform: uppercase;
}

hr {
  background-color: #eee;
  border: medium none;
  clear: both;
  color: #eee;
  display: block;
  height: 1px;
  margin: 1.75em 0; /* 28/16 */ 
}

img[style*="float: right"],
img[align=right],
.img-right {
  display: block;
  float: right;
  margin: 0 0 .625em .625em;
}
  
img[style*="float: left"],
img[align=left],
.img-left {
  display: block;
  float: left;
  margin: 0 .625em .625em 0;
}

p,
ol,
ul,
dl {
  color: #666;
  margin: 0 0 1.5em; /* 36/18 */
}

ol,
ul {
  margin: 0 0 1.5em 5%; /* 36/18 */
}

ol ol, 
ul ul, 
ol ul, 
ul ol,
ul p,
ol p {
  margin-bottom: 0; 
  font-size: 1em;
}

ul p:last-child,
ol p:last-child,
blockquote p:last-child {
  margin-bottom: 0; 
}

header {
  padding: 1.875em 2.439024390243902%; /* 30/16 | 20/820 */ 
  text-align: center;
}

.logo {
  display: block;
  margin: 0 auto; /* 20/16 */
}

.logo img {
  display: block;
  margin: 0 auto; 
}

.contact-info-container {
  background: #f9f9f9;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;  
  text-align: center;
  padding: 1.25em; /* 20/16 */
}

.contact-info-container p {
  margin: 0; 
  line-height: 1.75em; /* 28/16 */ 
}
 
.contact-info-container span {
  display: inline-block;
  margin: 0 .25em;
  color: #ddd; 
}

.content {
  padding: 4.878048780487805% 0; /* 40/820 */
}

.content p,
.content ol,
.content ul {
  font-size: 1.125em; /* 18/16 */  
  line-height: 1.5555555555555556em; /* 28/18 */ 
}

footer {
  background: #f9f9f9; 
  border-top: 1px solid #eee;
  clear: both;
  padding: 1.25em 0 1.875em; /* 20/16 | 30/16 */
  text-align: center;
}

footer a,
footer a:link,
footer a:visited {
  color: #666;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer p {
  font-size: .75em; /* 12/16 */
  line-height: 1.5em; /* 18/12 */
  margin: 0;
}

footer span {
  display: inline-block;
  margin: 0 .25em;
  color: #ddd; 
}

.wrapper {
  margin: 0 auto;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
  max-width: 820px;
  width: 100%; 
  padding: 0 4.878048780487805%; /* 40/820 */ 
}

/* -- FORMS START -- */

#form-name,
#form-email-address {
  width: 47%; 
  display: inline-block;
}

#form-name {
  margin-right: 6%; 
}

fieldset {
  border: none;
  padding: 0; 
}

legend {
  display: none;
}

label,
.radio legend {
  color: #888;
  display: block;
  font-size: .875em;  /* 14/16 */
  margin: 0 0 .25em;
  font-weight: bold; 
}

.radio input,
.checkbox input,
.radio label,
.checkbox label,
.checkbox {
  display: inline-block;
  vertical-align: middle;
}

.radio label,
.checkbox label {
  font-weight: normal;
  margin: 0 .8571428571428571em 0 .2857142857142857em; /* 12/14 | 4/14 */ 
}

input,
textarea,
select {
  background: #fff;
  border: 2px solid #ccc;
  border-radius: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; 
  color: #666;
  font-family: 'Lato', Tahoma, Arial, sans-serif;
  font-size: 1em; 
  padding: .4285714285714286em .5714285714285714em; /* 6/14 | 8/14 */ 
  width: 100%;
}

::-webkit-input-placeholder,
:-moz-placeholder,
::-moz-placeholder,
:-ms-input-placeholder {  
   color: #333;  
}

.input {
  margin: 0 0 1.25em; /* 20/16 */
}

option {
  padding: 0 .25em; /* 4/16 */
}

input:focus,
textarea:focus,
select:focus,
input:hover,
textarea:hover,
select:hover {
  border: 2px solid #3098ba; 
  color: #333;
}

input[type=button],
input[type=checkbox],
input[type=radio] {
  border: none;
  padding: 0;
  width: auto; 
}

.submit {
  text-align: right; 
}

input[type=submit],
input[type=button] {
  border: 2px solid #3098ba;
  cursor: pointer; 
  font-weight: 900;
  font-size: 1em; 
  padding: .5em; 
  text-transform: uppercase;
  display: inline-block;
  width: auto;
}

input[type=submit]:hover,
input[type=button]:hover {
  background: #3098ba; 
  color: #fff;
}

.content .form_tip {
  margin: 0;
  font-size: .875em; 
}

.required {
  color: #cc0000; 
}
/* -- FORMS END -- */

.notification {
  border-radius: 5px; 
}

.notification, 
.error-message {
  position: relative;
  margin: 0 0 1.25em 0;
  border: 1px solid;
  background-position: 10px 11px !important;
  background-repeat: no-repeat !important;
}

.notification.attention {
  background-color: #fffbcc;
  background-image: url('/img/icons/exclamation.png');
  border-color: #e6db55;
  color: #666452;
}

.notification.information {
  background-color: #dbe3ff;
  background-image:url('/img/icons/information.png');
  border-color: #a2b4ee;
  color: #585b66;
}

.notification.success {
  background-color: #d5ffce;
  background-image:url('/img/icons/tick_circle.png');
  border-color: #9adf8f;
  color: #556652;
}

.notification.error, 
.error-message {
  background-color: #ffcece;
  background-image:url('/img/icons/exclamation_circle.png');
  border-color: #df8f8f;
  color: #665252;
}

.notification div {
  padding: 10px 60px 10px 36px;
}

.notification .close {
  color: #990000;
  font-size: .8em;
  position: absolute;
  right: 5px;
  top: 5px;
}

.notification .close:hover {
  background:transparent;
}

.input .notification, 
.input .error-message {
  background-color: transparent;
  margin: 0 0 0 5px;
  padding: 11px 0 11px 35px;
  display: inline;
  border: 0;
  font-size: .9em;
}

.input .error-message {
  color: #665252;
  background:url('/img/icons/exclamation_circle.png') left center no-repeat;
}

@media screen and (max-width:520px) {
  footer span {
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
  }
}

@media screen and (max-width:420px) {
  .contact-info-container span {
    display: block;
    height: 0;
    width: 0;
    visibility: hidden;
  }
}